
@Model User

@using (Html.BeginForm("SaveUser", "Home"))
{
<p>
   TextBox: @Html.TextBox("UserName")

</p>
<p>
    Password: @Html.Password("Password")
</p>
   



    <input type="submit" value="Add User" />
}
