@model MVC2Assignment.Models.Account

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("CreateAccount", "Home"))
{
    @Html.ValidationSummary("Errors in account creation")
<p>
    @Html.ValidationMessageFor(a => a.AccountNumber)
</p>

<p>
    @Html.ValidationMessageFor(a => a.Name)
</p>

<p>
    @Html.ValidationMessageFor(a => a.CurrentBalance)
</p>

    <input type="submit" value="Create Account" />
}



